<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Definition</title>
</head>

<body class='container text-center'>
    <h1>{{search}}</h1>
    <p>
    <h4> Meaning:</h4>
    <h4>{{definition}}</h4>
    </p>
    <p>
    <h5> Synonym: </h5>
    <h5>{{synonyms}}</h5>
    </p>
    <p>
    <h5> Antonym: </h5>
    <h5>{{antonyms}}</h5>
    </p>
</body>

</html>